/* Root CSS */
.root {
  text-align: center;
  margin-top: 10vh;
  font-family: "Lato", sans-serif;
}

/* Submit Button */
.submitButton {
  background-color: var(--default-color) !important;
  color: white !important;
}

/* Sign in */
.h1 {
  font-weight: bold;
  font-size: 8vh;
}

/* Don't have any account? */
.span1 {
  color: var(--grey-color);
  font-size: 20px;
}

/* Sign up */
.a1 {
  color: var(--default-color);
  font-weight: bolder;
  cursor: pointer;
  font-size: 20px;
}
.a1:hover {
  text-decoration: none;
}

/* Fields that are marked with * sign are required. */
.p1 {
  text-align: left !important;
  color: #363434;
  font-style: italic;
  font-size: 13px;
}

/*  Reset password */
.a2 {
  color: var(--default-color);
  font-weight: bolder;
  cursor: pointer;
}
.a2:hover {
  text-decoration: none;
}
