.button {
  background-color: var(--default-color) !important;
  color: white !important;
}

.root {
  text-align: center;
  margin-top: 20vh;
  font-family: "Lato", sans-serif;
}

.leftAlign {
  text-align: left !important;
}

.greyColor {
    color: var(--grey-color);
}

.a {
    color: var(--default-color);
    font-weight: bolder;
    cursor: pointer;
}

.a:hover {
  text-decoration: none;
}

.h1 {
    font-weight: bold;
    font-size: 8vh;
}