/* Root CSS */
.root {
  border: 1px solid #00000033 !important;
  font-family: "Lato", sans-serif;
}

.title {
  font-weight: bold !important;
  margin-bottom: 20px !important;
  color: black;
}

.desc {
  color: var(--grey-color) !important;
  font-size: 15px !important;
}

.disable {
    color: red !important;
}
.spacing{
margin: 7px;
}
Card:shadow{
  color:green;
}
.fixHeight{
  height: 300px;
}