.icon {
  padding: 10px 10px !important;
  font-size: 5vw !important;
  color: var(--default-color) !important;
  background-color: var(--default-color-background) !important;
  border-radius: 1vw !important;
}